body {
  color-scheme: light dark;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
}

.calculator-grid button {
  font-family: "Share Tech Mono", monospace;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

textarea {
  grid-column: span 4;
  font-family: "Share Tech Mono", monospace;
  font-size: 25px;
  text-align: end;
  padding: 15px;
  border: none;
  resize: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  .calculator-grid button:nth-child(n + 18) {
    background-color: rgb(88, 88, 88);
  }
  .calculator-grid button:nth-child(n + 18):hover {
    background-color: rgb(184, 183, 183);
    color: white;
    transition: 0.2s;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }
  .calculator-grid button:nth-child(n + 18) {
    background-color: rgb(248, 122, 64);
  }
  .calculator-grid button:nth-child(n + 18):hover {
    opacity: 0.5;
    color: white;
    transition: 0.2s;
  }
}
